<div class="mb-3 text-center">

  <h3><%= next_pick_header(matchup) %></h3>
  <h3>Available Picks</h3>
  <table class="table">

    <thead>
      <th>Name</th>
      <th>Jersey</th>
      <th>Position</th>
      <th>Games Played</th>
      <th>Points</th>
      <th>Goals</th>
      <th>Assists</th>
      <% if my_pick?(matchup) %>
        <th>Actions</th>
      <% end %>
    </thead>
    <tbody>
      <% matchup.available_players.each do |player| %>
        <tr>
          <% stats = player.regular_season_stats_hash(matchup.season) %>
          <td><%= player.name %></td>
          <td><%= player.jersey_in_games(matchup.related_games) %></td>
          <td><%= player.position_in_games(matchup.related_games) %></td>

          <td><%= stats[:games_played] %></td>
          <td><%= stats[:points] %></td>
          <td><%= stats[:goals] %></td>
          <td><%= stats[:assists] %></td>

          <% if my_pick?(matchup) %>
            <td><%= button_to "Pick", matchup_picks_path(matchup), params: { player_id: player.id }, class: "btn btn-sm btn-primary" %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>