<h2>Join a Matchup</h2>

<% if flash[:alert] %>
  <div class="text-danger"><%= flash[:alert] %></div>
<% end %>

<%= form_for :invitation, url: matchup_confirm_path do |f| %>
  <%= f.label :code %>
  <%= f.text_field :code %>

  <%= f.submit "Join Matchup" %>
<% end %>