<div class="col-lg-6">
  <div class="card mb-3">
    <div class="card-body">
      <h4 class="card-title text-center">Assists</h4>
      <table class="table mb-0">
        <thead>
          <th>Player</th>
          <th>Scorer</th>
          <th>Period</th>
          <th>Time</th>
          <th>Video</th>
        </thead>
        <tbody>
          <% assists = user_matchup.assists.joins(:game).order("games.datetime ASC", "goals.period ASC", "goals.time ASC") %>
          <% assists.each_with_index do |assist, index| %>
            <% if assist.game != assists[index - 1].game %>
              <tr>
                <th colspan="5" class="text-center"><%= "#{date_format(assist.game_time)} Vs #{assist.opponent.name}" %></th>
              </tr>
            <% end %>
            <tr>
              <td><%= assist.player_name %></td>
              <td><%= assist.scorer %></td>
              <td><%= assist.period %></td>
              <td><%= assist.time %></td>
              <td>
                <% if assist.has_video? %>
                  <%= link_to assist.video_url, class: "btn btn-sm btn-primary" do %>
                    <%= "Video".html_safe %>
                    <%= fas_icon "play" %>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>