<div class="col-lg-6">
  <div class="card mb-3">
    <div class="card-body">
      <h4 class="card-title text-center">Goals</h4>
      <table class="table mb-0">
        <thead>
          <th>Player</th>
          <th>Date</th>
          <th>Period</th>
          <th>Time</th>
          <th>Video</th>
        </thead>
        <tbody>
          <% user_matchup.goals.joins(:game).order("games.datetime ASC", "period ASC", "time ASC").each do |goal| %>
            <tr>
              <td><%= goal.player.name %></td>
              <td><%= date_format(goal.game.datetime) %></td>
              <td><%= goal.period %></td>
              <td><%= goal.time %></td>
              <td>
                <% if goal.has_video? %>
                  <%= link_to goal.video_url, class: "btn btn-primary" do %>
                    <%= "Video".html_safe %>
                    <%= fas_icon "play" %>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>